<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Fill out the form!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill text boxes  to create your story based on your data!</h1>
    <form action="/storyPath" method="post">
     <label for="namePerson">Person's name:</label>
     <input id="sender" name="person_name" type="text">

     <label for="namePerson">Reciver's name:</label>
     <input id="sender" name="reciver_name" type="text">

     <label for="adjective">Enter any edjective:</label>
     <input id="adjective" name="adjective" type="text">

     <label for="adjective">Enter any noun:</label>
     <input id="adjective" name="noun" type="text">

     <label for="adjective">Enter any verb:</label>
     <input id="adjective" name="verb" type="text">

     <button type="submit">Go!</button>
    </form>
  </body>
</html>