<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h3>Choose one of the links to make a story!</h3>
    <a href="/formPath">Story based on person's name,noun,adjective,verb.</a><br>
    <a href="/formPath2">Story based on person's name,noun,verb.</a>
    @* <form action="/postcard" method="post">
     <label for="sender">Sender's Name</label>
     <input id="sender" name="sender" type="text">
     <label for="recipient">Recipient's Name</label>
     <input id="recipient" name="recipient" type="text">
     <button type="submit">Go!</button> *@
    </form>
  </body>
</html>